/* Footer */
.footer-wrapper{
    width: 100%;
    background-color: #F03A17;
  }
  .footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:50px
  }
  .footer-logo{
    font-weight: 600;
    font-size: 40px;
    text-decoration: none;
    color: #ffffff;
  }
  .footer-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
  }
  .f-link{
    margin-top: 50px;
  }
  .copyright {
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
  }
  


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer-wrapper{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer-wrapper{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

@media only screen and (min-width: 1399px) {
  
}