/* Movie details */
.mt-10{
    margin-top: 10%;
  }
  .movie-details-wrapper{
    margin: 100px 0px;
  }
  .movie-details{
    display: flex;
    justify-content: space-arround;
  }
  .selected-movie-img > img{
    border-radius: 10px;
  }
  .movie-caption-wrapper{
    margin-top: -40px;
    margin-left: 50px;
  }
  .title > h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
  }
  .selected-movie-overview > .movie-detail{
    color: #828283;
  }
  .selected-movie-overview > .movie-detail-value{
    color: #fff;
  }
  .movie-overview-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .movie-credits > h1{
    color: #fff;
  }
  .genres-wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  .genres-wrapper > div > span{
    margin-right: 10px;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 10px;
  }
  #downloads {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #downloads td, #downloads th {
    border: 1px solid #828283;
    padding: 20px;
  }
  #downloads th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: transparent;
    color: white;
  }
  .download-links{
    color: #828283;
  }
  .watch-movie{
    background-color: #F03A17;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    border:none;
    border-radius:10px;
    width: 50%;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .watch-movie:hover{
    color: #F03A17;
    border: 1px solid #F03A17;
    background-color: transparent;
  }
  .trailer-err > a{
    color: #F03A17;
    text-decoration: none;
  }
  .trailer-wrapper{
    color: #fff;
    margin-top: 5%;
  }
  .m-name{
    color: #F03A17;
  }
  .current-genre-recommendation-wrapper{
    margin-top: 5%;
    color: #fff;
  }
  .current-genre-recommendation-wrapper > h1 >span{
    color: #F03A17;
  }
  .similar-movies{
    display: flex;
    justify-content: space-between;
  }
  