/* Movie suggestion */
.loading{
    color: #F0F8FF;
    font-weight: 500;
  }
  .movie-suggestions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .movie-suggestions > div{
    flex: 0 18%;
  }
  .pagination-wrapper{
    margin-top:5%;
    display: flex;
    justify-content: center;
  }
  .li-pagination{
    display:  inline-block;
    margin: 20px;
  }
  .active-a{
    background-color: #F03A17;
    color: #F03A17;
  }
  .a-pagination{
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  .suggestion-wrapper{
    margin: 10% 0 3% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .suggestion-wrapper > h2{
    color: #ffffff;
  }
  
  
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .movie-suggestions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .movie-suggestions > div{
    flex: 0 48%;
  }
  .pagination{
    padding: 0px;
  }
  .pagination-wrapper{
    margin: 60px 0% 100px 0%;
    display: flex;
    justify-content: center;
  }
  .li-pagination{
    display:  inline-block;
    margin:5px;
  }
  .active-a{
    background-color: #F03A17;
    color: #F03A17;
  }
  .a-pagination{
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .movie-suggestions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .movie-suggestions > div{
    flex: 0 48%;
  }
  .pagination{
    padding: 0px;
  }
  .pagination-wrapper{
    margin: 60px 0% 100px 0%;
    display: flex;
    justify-content: center;
  }
  .li-pagination{
    display:  inline-block;
    margin:5px;
  }
  .active-a{
    background-color: #F03A17;
    color: #F03A17;
  }
  .a-pagination{
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .movie-suggestions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .movie-suggestions > div{
    flex: 0 33%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .movie-suggestions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .movie-suggestions > div{
    flex: 0 33%;
  }
}

@media only screen and (min-width: 1399px) {
  
}