body{
  font-family: 'Poppins', sans-serif;
  background-color: #18191A;
}
/* App */
.App{
  margin: 3% 15% 0% 15%;
}

/* Navbar */
.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper > h2{
  color: #F03A17;
}
.nav-items .ul-items{
  list-style: none;
}
.nav-items .ul-items > li{
  display: inline-block;
  margin-left: 50px;
}
.nav-items .ul-items > li > a{
  color: #F0F8FF;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.3s ease 0s;
}
.nav-items .ul-items > li > a:hover{
  border-radius: 0.75rem;
  padding: 10px 20px 10px 20px;
  border: 2px solid #ffffff;
  background-color: #F03A17;
  color: #ffffff;
}
.contact-btn{
  color: #F0F8FF;
  font-size: 12px;
  text-decoration: none;
  border: 2px solid #F0F8FF;
  border-radius: 0.75rem;
  padding:10px 20px 10px 20px;
  transition: all 0.3s ease 0s;
}
.contact-btn:hover{
  background-color: #F03A17;
  color: #ffffff;
}

/* Header */
.header{
  margin-top: 7%;
}
.header-title{
  text-align: center;
}
.title-one, .title-two{
  line-height: 20px;
  font-weight: 600;
  color: #ffffff;
}
.movies-number{
  color: #F03A17;
}

/* SearchMovie */
form > div{
  display: flex;
}
.search-movie-wrapper{
  margin-top: 50px;
}
.search{
  border:none;
  width: 95%;
  padding: 15px;
  border-radius: 6px;
  background-color: #28292A;
  color: #fff;
  font-weight: 500;
}
.search::placeholder{
  color: #828283;
  position: relative;
  font-weight: bold;
  left: 30px;
}
.search-btn{
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  width: 50px;
  background-color: #F03A17;
  border-radius: 6px;
  border: none;
  outline: none;
}
.search-icon{
  position: absolute;
  transform: translate(60%, 60%);
}

/* Top movies */
.top-10{
  margin-top: 10%;
  color: #ffffff;
}
.movie-img > a > img{
  max-width: 100%;
  border-radius: 5px;
}
.movie-title > h3{
  color: #ffffff;
  font-weight: 500;
}
.Trending{
  color: #ffffff;
  background-color: #F03A17;
  padding: 2px 10px;
  border-radius: 50px;
}
.Popular{
  color: #FFDE09;
  border: 1px solid #FFDE09;
  padding: 2px 10px;
  border-radius: 50px;
}
.Suggestion, .Recommendation{
  color: #F03A17;
  border: 1px solid #F03A17;
  padding: 2px 10px;
  border-radius: 50px;
}
.movie-caption > p{
  color: #828283;
  line-height: 7px;
}
.good{
  color: #09FF19;
}
.decent{
  color: #FFDE09;
}
.bad{
  color: #FB3A3A;
}
.rec.rec-arrow {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-top: -8%;
}
.rec.rec-arrow:hover {
  background-color: transparent;
}
.rec-carousel-item:focus{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.show-more-movies > a > img{
  max-width: 100%;
  border-radius: 5px;
}

/* Movie details */
.movie-details-wrapper{
  margin: 100px 0px;
}
.movie-details{
  display: flex;
  justify-content: space-arround;
}
.selected-movie-img > img{
  border-radius: 10px;
}
.movie-caption-wrapper{
  margin-top: -40px;
  margin-left: 50px;
}
.title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title > h3{
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
}
.title > span{
  margin-left: 50px;
  color: #ffffff;
  background-color: #F03A17;
  padding: 2px 10px;
  border-radius: 50px;
}
.selected-movie-overview > .movie-detail{
  color: #828283;
}
.selected-movie-overview > .movie-detail-value{
  color: #fff;
}
.movie-overview-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.watch-movie{
  background-color: #F03A17;
  color: #ffffff;
  outline: none;
  border:none;
  border-radius:10px;
  width: 50%;
  padding: 20px;
  cursor: pointer;
}
.trailer-wrapper{
  color: #fff;
  margin-top: 5%;
}
.m-name{
  color: #F03A17;
}
.current-genre-recommendation-wrapper{
  margin-top: 5%;
  color: #fff;
}
.movie-credits > h1{
  color: #fff;
}

/* Contact us */
.contact-informations-wrapper{
  margin-top: 100px;
}
.contact-informations-wrapper > h2{
  color: #ffffff;
}
.contact-informations{
  display: flex;
  align-items: center;
  align-content: center;
}
.contact-informations > span{
  margin-left: 10px;
}
.mail{
  color: #ffffff;
}

.form{
  margin: 100px 0px;
  
  width: 50%;
}
.form > form > h2{
  color: #ffffff;
}
.field{
  width: 100%;
  color: #ffffff;
  background-color: #28292A;
  padding: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}
.field:focus{
  border:1px solid #F03A17
}
.field::placeholder{
  color: #828283;
  font-size:13px ;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.send-btn > svg{
  margin-left: 20px;
}
.send-btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #F03A17;
  color: #ffffff;
  font-size:15px;
  font-weight:600;
  outline: none;
  border: none;
  border-radius: 8px;
}

/* Footer */
.footer-wrapper{
  width: 100%;
  background-color: #F03A17;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top:50px
}
.footer-logo{
  font-weight: 600;
  font-size: 40px;
  text-decoration: none;
  color: #ffffff;
}
.footer-link{
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.f-link{
  margin-top: 50px;
}
.copyright {
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
}


/* Popular actors*/
.actor-img > a > img{
  max-width: 100%;
  border-radius: 5px;
}
.actor-name > h3{
  color: #ffffff;
  text-align: center;
  font-weight: 500;
}
.popular-actors-wrapper div div > .rec.rec-arrow {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.show-more-actors > a > img{
  max-width: 100%;
  border-radius: 5px;
}

/* Movie suggestion */
.movie-suggestions{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.movie-suggestions > div{
  flex: 0 18%;
}
.pagination-wrapper{
  margin-top:5%;
  display: flex;
  justify-content: center;
}
.li-pagination{
  display:  inline-block;
  margin: 20px;
}
.active-a{
  background-color: #F03A17;
  color: #F03A17;
}
.a-pagination{
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.suggestion-wrapper{
  margin: 10% 0 3% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestion-wrapper > h2{
  color: #ffffff;
}
.suggestion-wrapper > button > svg{
  margin-left: 20px;
}
.suggestion-wrapper > button{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  background-color: #F03A17;
  color: #ffffff;
  font-size:15px;
  font-weight:100;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}
.suggestion-wrapper > button:hover{
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #fff;
}

/* Movie credits */
.actor{
  color: #fff;
}
.character-text{
  color: #828283;
}
.character-name{
  margin-top: -15px;
  color: #fff;
}